.App-logo {
  height: 80px;
}

.App-header {
  background-color: #242728;
  padding: 20px;
  color: rgb(210, 203, 145);
  text-align: center;
  border-bottom: 1px solid rgb(210, 203, 145);
}

.App-intro {
  font-size: large;
}
